%h1
  Overview
%table.overview
  %tr
    %th Status
    %th Count
  %tr
    %td.status
      %a{:href => u('/pending')} Pending Jobs
    %td= count_all_jobs(:pending)
  %tr
    %td.status
      %a{:href => u('/working')} Working Jobs
    %td= count_all_jobs(:working)
  %tr{:class => count_all_jobs(:failed) > 0 ? 'failure' : ''}
    %td.status
      %a{:href => u('/failed')} Failed Jobs
    %td= count_all_jobs(:failed)
= poll
